
/*
 * CHANGING THE COLOR SCHEME
 * -------------------------
 * 
 * Four basic colors were used in the design. To change the
 * color scheme, just edit these four values below.
 *
 */

.topOfPage, q, h1, h2, h3, .headerTitle, .headerLinks, .headerLinks *, .sideBox div, #footer *
{ /* Text Color: */  color: #000000; }

q, h2,  .sideBox, .sideBox div, #footer
{ /* Border Color: */  border-color: #c0c0ff; }

#header, .sideBox div, .sideBox a:hover
{ /* Background Color (darker): */  background-color: #F1F1F1; }

q, .sideBox a, .sideBox span, #footer
{ /* Background Color (lighter): */  background-color: #f7f7f7; }


/* ###### Browser-specific Styles ###### */

/* For IE & Mozilla-based browsers: */

.LHS {
  margin-left: 2.5mm;
  float: left;
  clear: left;
}

.RHS {
  margin-right: 2.5mm;
  float: right;
  clear: right;
}

/* For Mozilla-based (CSS2-fully complaint) browsers only: */

[class~="LHS"] {
  margin-left: 5mm;
}

[class~="RHS"] {
  margin-right: 5mm;
}


/* ###### Body Text ###### */

#bodyText {
  line-height: 1.5em;
  margin: 10mm 13em 0 13em;
  padding: 0 1em 1ex 1em;
}

#bodyText p {
  padding-bottom: 2ex;
}

.topOfPage {
  font-size: 90%;
  font-weight: bold;
  font-variant: small-caps;
  text-decoration: none;
  padding-left: 1ex;
  padding-right: 1ex;
  float: right;
}

.smallCaps {
  font-variant: small-caps;
}

body {
  background-color: white;
  color: black;
  font-family: verdana, tahoma, helvetica, arial, sans-serif;
  font-size: 95%;
  margin: 0;
}

h1, h2, h3 {
  font-family: "trebuchet ms", tahoma, sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 150%;
  border-bottom: 1px solid;
  padding-bottom: 0.5ex;
}

acronym {
  background-color: inherit;
  color: teal;
  border-bottom: 1px dashed teal;
  cursor: help;
}

code {
  font-family: "lucida console", monospace;
  font-size: 90%;
}

img {
  border: 0;
}

q {
  font-family: tahoma, verdana, helvetica, arial, sans-serif;
  font-weight: bold;
  border: 2px dotted;
  margin: 0 1em 1ex 1em;
  padding: 0.5ex 0.5ex 0.5ex 1ex;
  width: 9em;
  float: left;
}


/* ###### Header ###### */

#header {
	position: relative;
  height: 100px;
}

.logo {
	position: absolute;
	left: 10px;
}
.top-banner {
   position: absolute;
   right: 100px;
}

.fj-menu-ext{
	border-width: 1px;
	border-style:solid;
	border-color: #787B7E;
	margin: 10px;
	border-radius: 3px;
}
.fj-menu-int{
   height:23px;
	border-width: 1px;
   border-style:solid;
	border-color: #EFEFEF;
	background-image: url(picts/tbl/bg.gif);
   padding:  0 0 0 5px;
   background-repeat:repeat-x;
   background-color:red;
   border-radius: 2px;
   overflow: hidden;
}

   .mnu_lnk
   {
      color: #000000;
      text-decoration: none;
      font-weight: normal;
      font-family: Verdana;
      font-size: 9pt;
      padding: 2px 3px 3px 3px;
      position: relative;
      top:1px;
   }

   .mnu_lnk:HOVER
   {
      background-image: url(picts/tbl/bg_.gif);
      padding: 1px 2px 2px 2px;
      text-decoration: none;
      border-style: solid;
      border-color: red;
      border-width: 1px;
   border-radius: 3px;
}
   
   .mnu_pict{
      position: relative;
      top:4px;
	
}

/* ###### Side Box ###### */

.sideBox {
  border-top: 2px solid;
  border-bottom: 2px solid;
  width: 10em;
  margin-top: 5mm;
}

.sideBox div {
  font-weight: bold;
  border-bottom: 1px dashed;
  padding: 0.5ex 0.5em 0.5ex 0.75em;
}

.sideBox a, .sideBox a:hover, .sideBox span {
  color: black;
  text-decoration: none;
  line-height: 1.25em;
  display: block;
  padding: 1ex 0.5em 1ex 0.75em;
}


/* ###### Footer ###### */

#footer {
  color: inherit;
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding-top: 0.75ex;
  padding-bottom: 0.75ex;
  clear: left;
}

.footerImg {
  padding-right: 3mm;
  padding-top: 2mm;
  float: right;
}

#footer div {
  padding-left: 3mm;
}

#footer * {
  background-color: inherit;
  font-size: 92%;
}

#footer a:hover {
  text-decoration: none;
}

.footerCol2 {
  position: absolute;
  left: 7em;
}