jdbc.url=jdbc:mysql://localhost:3306/diletant?useUnicode=true&characterEncoding=utf8
jdbc.user.name=diletant
jdbc.user.password=qqq
jdbc.driver=com.mysql.jdbc.Driver
lang.default=ua
okAvatar.password=
mail.smtp.host=
mail.debug=false
mail.from=
mail.admin.address.1=
mail.admin.address.2=
mail.admin.address.3=