	.found
	{
		background-color: yellow;
		padding-left: 2px;
		padding-right: 2px;
		font-weight: bold;
	}
	.messageDiv
	{
		border-style: solid;
		border-width: 1px;
		border-color: red;
		background-color: white;
		margin: 20px;
		padding: 10px;
	}
	.menuImg
	{
		vertical-align:-15%;
		margin-left:5px;
	}
   .mainBody
   {
   	background-color:#EFEFEF;
   	background-image: url('skin/standart/snow_bgr.gif');
   }
   .mainBodyBG
   {
   	background-color:#EFEFEF;
   }
   .copy
   {
      font-family: serif;
      font-size: 8pt;
      font-weight:bold
   }
   a:link
   {
      text-decoration: none;
      color: #000000
   }
   a:visited
   {
      text-decoration: none;
      color: #000000;
      font-style:italic
   }
   a:hover
   {
      color: #000000;
      text-decoration: underline
   }
   .frmsmall
   {
      padding:0px;
      margin:0px
   }
   .mnuprof
   {
      font-family: Verdana;
      font-size: 8pt;
      color: #000000
   }
   .post
   {
      font-family: Verdana;
      font-size: 10pt;
      color: #000000
   }
   .post1
   {
      font-family: Verdana;
      font-size: 7pt
   }
   .post2
   {
      font-family: Verdana;
      font-size: 8pt
   }
   .post3
   {
      font-family: Verdana;
      font-size: 10pt
   }
   .post4
   {
      font-family: Verdana;
      font-size: 11pt
   }
   .post5
   {
      font-family: Verdana;
      font-size: 12pt
   }
   .posthead
   {
      font-family: Verdana;
      font-size: 8pt;
      color: #000000
   }
   .control
   {
      width:100%;
      border-collapse: collapse;
      background-color:#f7f7f7;
   }
   .tdquote
   {
      width:100%;
      border-style:ridge;
      border-width:2px;
      border-collapse: collapse;
      background-color:#f7f7f7;
      border-color:#f1f7fC
   }
   .quote
   {
      font-family: Verdana;
      font-size: 8pt;
      color: #000000
   }
   .heads
   {
      background-color:#D1D7DC
   }
   .trees
   {
      background-color:#f7f7f7
   }
   .sticked
   {
      background-color:#efD7DC
   }
   .alert
   {
      background-color:#ccf5cc
   }
   .internal
   {
      border-width:0px;
      padding: 5px 3px 5px 3px;
   }
   .internal1
   {
      border:2px ridge;
      border-collapse: collapse;
      padding: 3px;
      border-color:#f1f7fC;
      background-color:#f7f7f7;
   }
   .hdforum2
   {
      border-style:solid;
      border-width:1px;
      padding: 3px;
      border-color:#787b7e;
      font-family: Verdana;
      font-size: 8pt;
      font-weight: bold;
      color: #000000
   }
   .content
   {
      border-collapse: collapse;
      border-width:0px; width:100%
   }
   .matras
   {
      background-color:#e1e3e5
   }
   .voice_left
   {
      padding:5px;
      width:30%;
      vertical-align: top
   }
   .voice_right
   {
      padding:5px;
      width:70%
   }
   .tbtext
   {
      font-family: Verdana;
      font-size: 10pt;
      color: #000000
   }
   .tbtextnread
   {
      font-family: Verdana;
      font-size: 10pt;
      color: #000000;
      font-weight:bold
   }
   .mnuforum
   {
      font-family: Verdana;
      font-size: 9pt;
      font-weight: normal;
      color: #000000
   }
   .trforum
   {
      font-family: Verdana;
      font-size: 10pt;
      font-weight: normal;
      color: #000000
   }
   .hdforum
   {
      font-family: Verdana;
      font-size: 8pt;
      font-weight: bold;
      color: #000000
   }
   .nik
   {
      font-family: Arial;
      font-size: 12pt;
      font-weight: bold;
      color: #000000
   }
   .nick
   {
      font-family: Arial;
      font-size: 10pt;
      font-weight: bold;
      color: #000000
   }
   .page
   {
      border-style:solid;
      border-width:1px;
      padding:1px;
      background-color:#D1D7DC;
      border-color:#787B7E;
      font-family: Verdana;
      font-size: 8pt;
      font-weight: normal;
      color: #000000;
   }
   .pagecurrent
   {
      margin-left:2px;
      border: 1px solid #f1f7fC;
      padding:1px;
      background-color:#F7F7F7;
      font-family: Verdana;
      font-size: 8pt;
      font-weight: bold;
      color: #000000;
      border-color:#787B7E;
   }
   A.pageLink
   {
      margin-left:2px;
      border-style:solid;
      border-width:1px;
      padding:1px;
      background-color:#D1D7DC;
      border-color:#787B7E;
      font-family: Verdana;
      font-size: 8pt;
      font-weight: normal;
      color: #000000;
   }
   A.pageLink:hover
   {
      margin-left:2px;
      border: 1px solid #f1f7fC;
      padding:1px;
      background-color:#F7F7F7;
      font-family: Verdana;
      font-size: 8pt;
      font-weight: normal;
      color: #000000;
      border-color:#787B7E;
      text-decoration: none;
   }
   A.mnuforumSm
   {
      color: #000000;
      text-decoration: none;
      font-weight: normal;
      font-family: Verdana;
      font-size: 9pt;
      padding: 3px 3px 3px 3px;
   }

   A.mnuforumSm:hover
   {
      background-color: #F7F7F7;
      font-weight: normal;
      font-family: Verdana;
      font-size: 9pt;
      color: #000000;
      padding: 2px 2px 2px 2px;
      text-decoration: none;
      border-style: solid;
      border-color: #787b7e;
      border-width: 1px;
   }
   .leftTop
   {
      margin:0;
      padding:0;
      width:3;
      height:3;
      border-style: none;
      border-width:0px;
      border-collapse: collapse;
      background-image: url(picts/tbl/left_top.gif);
   }
   .leftBtm
   {
      margin:0;
      padding:0;
      width:3;
      height:3;
      border-style: none;
      border-width:0px;
      border-collapse: collapse;
      background-image: url(picts/tbl/left_btm.gif);
   }
   .rightBtm
   {
      margin:0;
      padding:0;
      width:3;
      height:3;
      border-style: none;
      border-width:0px;
      border-collapse: collapse;
      background-image: url(picts/tbl/right_btm.gif);
   }
   .rightTop
   {
      margin:0;
      padding:0;
      width:3;
      height:3;
      border-style: none;
      border-width:0px;
      border-collapse: collapse;
      background-image: url(picts/tbl/right_top.gif);
   }
   .left
   {
      margin:0;
      padding:0;
      width:3;
      border-style: none;
      border-width:0px;
      border-collapse: collapse;
      background-image: url(picts/tbl/left.gif);
   }
   .right
   {
      margin:0;
      padding:0;
      width:3;
      border-style: none;
      border-width:0px;
      border-collapse: collapse;
      background-image: url(picts/tbl/right.gif);
   }
   .top
   {
      margin:0;
      padding:0;
      height:3;
      border-style: none;
      border-width:0px;
      border-collapse: collapse;
      background-image: url(picts/tbl/top1.gif);
   }
   .btm
   {
      margin:0;
      padding:0;
      height:3;
      border-style: none;
      border-width:0px;
      border-collapse: collapse;
      background-image: url(picts/tbl/btm.gif);
   }
   .bg
   {
      height:21;
      margin:0;
      padding:0;
      border-style: none;
      border-width:0px;
      border-collapse: collapse;
      background-image: url(picts/tbl/bg.gif);
   }
   .bg2
   {
      height:28;
      margin:0;
      padding:0;
      border-style: none;
      border-width:0px;
      border-collapse: collapse;
      background-image: url(picts/tbl/bg2.gif);
   }
   .bttn1
   {
      cursor: pointer;
      margin:0px;
      padding:0px;
      border-style: none;
      border-width:0px;
      border-collapse: collapse;
   }
   .bttn1LeftTop
   {
      padding:0px;
      width:4px;
      height:4px;
      background-image: url(skin/standart/button1/left_top1.gif);
   }
   .bttn1LeftBtm
   {
      padding:0px;
      width:4px;
      height:4px;
      background-image: url(skin/standart/button1/left_btm1.gif);
   }
   .bttn1RightTop
   {
      padding:0px;
      width:4px;
      height:4px;
      background-image: url(skin/standart/button1/right_top1.gif);
   }
   .bttn1RightBtm
   {
      padding:0px;
      width:4px;
      height:4px;
      background-image: url(skin/standart/button1/right_btm1.gif);
   }
   .bttn1Bg
   {
      padding:0px;
      height:13px;
      background-image: url(skin/standart/button1/bg1.gif);
      font-weight: bold;
      font-family: Verdana;
      font-size: 8pt;
      color: #000000;
      text-decoration: none;
   }
   .bttn1Left
   {
      padding:0px;
      height:11px;
      width:4px;
      background-image: url(skin/standart/button1/left1.gif);
   }
   .bttn1Right
   {
      padding:0px;
      height:11px;
      width:4px;
      background-image: url(skin/standart/button1/right1.gif);
   }
   .bttn1Top
   {
      padding:0px;
      height:4px;
      background-image: url(skin/standart/button1/top1.gif);
   }
   .bttn1Btm
   {
      padding:0px;
      height:4px;
      background-image: url(skin/standart/button1/btm1.gif);
   }
   select.mnuforumSm
   {
      background-color: #F7F7F7;
      font-weight: normal;
      font-family: Verdana;
      font-size: 9pt;
      color: #000000;
      text-decoration: none;
      border-style: solid;
      border-color: #787b7e;
      border-width: 1px;
   }
   textarea.mnuforumSm
   {
      background-color: #F7F7F7;
      font-weight: normal;
      font-family: Verdana;
      font-size: 10pt;
      color: #000000;
      text-decoration: none;
      border-style: solid;
      border-color: #787b7e;
      border-width: 1px;
      padding: 2px 2px 2px 2px;
   }
   input.mnuforumSm
   {
      padding: 3px 3px 3px 3px;
      background-color: #F7F7F7;
      font-weight: normal;
      font-family: Verdana;
      font-size: 9pt;
      color: #000000;
      text-decoration: none;
      border-style: solid;
      border-color: #787b7e;
      border-width: 1px;
   }
   input.input1
   {
      padding: 2px 2px 2px 2px;
      background-color: #F7F7F7;
      font-weight: normal;
      font-family: Verdana;
      font-size: 9pt;
      color: #000000;
      text-decoration: none;
      border-width: 0px;
      background-image: url(skin/standart/input/bg.gif);
      margin: 0px;
   }
	.input1
	{
      margin:0px;
      padding:0px;
      border-style: none;
      border-width:0px;
      border-collapse: collapse;
   }
   .input1LeftTop
   {
      padding:0px;
      width:3px;
      height:3px;
      background-image: url(skin/standart/input/left_top.gif);
   }
   .input1LeftBtm
   {
      padding:0px;
      width:3px;
      height:3px;
      background-image: url(skin/standart/input/left_btm.gif);
   }
   .input1RightTop
   {
      padding:0px;
      width:3px;
      height:3px;
      background-image: url(skin/standart/input/right_top.gif);
   }
   .input1RightBtm
   {
      padding:0px;
      width:3px;
      height:3px;
      background-image: url(skin/standart/input/right_btm.gif);
   }
   .input1Left
   {
      padding:0px;
      width:3px;
      background-image: url(skin/standart/input/left.gif);
   }
   .input1Right
   {
      padding:0px;
      width:3px;
      background-image: url(skin/standart/input/right.gif);
   }
   .input1Top
   {
      padding:0px;
      height:3px;
      background-image: url(skin/standart/input/top.gif);
   }
   .input1Btm
   {
      padding:0px;
      height:3px;
      background-image: url(skin/standart/input/btm.gif);
   }
   .input1Bg
   {
      padding:0px;
   }