vti_encoding:SR|utf8-nl
vti_author:SR|JOHN\\Андрей
vti_modifiedby:SR|JOHN\\Андрей
vti_timelastmodified:TR|26 Jan 2006 21:20:25 -0000
vti_timecreated:TR|21 Jan 2006 19:55:02 -0000
vti_extenderversion:SR|6.0.2.6353
vti_backlinkinfo:VX|index.php stat/20051204/2.html stat/20051210/1.html
vti_nexttolasttimemodified:TW|26 Jan 2006 21:20:08 -0000
vti_syncwith_localhost\\c\:\\program files\\apache group\\apache2\\htdocs\\diletant/c\:/program files/apache group/apache2/htdocs/diletant:TW|26 Jan 2006 21:20:25 -0000
vti_cacheddtm:TX|26 Jan 2006 21:20:26 -0000
vti_filesize:IR|2259
